@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(240, 233, 233);
}

.prenavbar {
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #3131e4e8;
  border-bottom: 3px solid rgba(36, 36, 219, 0.911);
}

.user {
  float: left;
  font-size: 30px;
  color: rgba(12, 12, 165, 0.911);
}

.more {
  float: right;
  font-size: 30px;
  color: rgba(12, 12, 165, 0.911);
}

.navbar {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.logo {
  margin-top: 40px;
  width: 100%;
  height: 140px;
}

.content {
  text-align: center;
}

.browsing {
  margin-top: 50px;
}

.footer {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.login {
  float: left;
  margin-left: 465px;
}

.create {
  float: right;
  margin-right: 465px;
}

.home {
  font-size: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.carousel {
  height: 200px;
  margin-bottom: 20px;
}

.mt-5 {
  text-align: center;
}

.w3-close {
  background-color: rgba(37, 37, 228, 0.911);
  color: white;
  font-weight: bold;
  text-align: center;
  height: 100px;
  margin-top: -10px;
  font-family: 'Alfa Slab One';
}

hr {
  background-color: lightgray;
  height: 0.5px;
}

.w3-sidebar {
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 99;
  max-width: 500px;
  width: 300px;
  right: 0;
  color: #282c34;
}

.sidebarText {
  margin-top: 10px;
  margin-left: 5px;
}

.sidebarFooter {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 150px;
  margin-left: 5px;
}

.sidebarFooter h1 {
  font-size: 15px;
}

.sidebarFooter li {
  list-style-type: none;
}

.copyright {
  padding-top: 10px;
  position: absolute;
  color: #282c34;
  font-weight: bold;
  bottom: 0;
  left: 27%;
}

#myPopup {
  max-height: 200px;
  max-width: 200px;
  background-color: rgb(170, 182, 214);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.cityTitle {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #bccbe2;
  color: #96acce;
  height: 40px;
  margin-top: 0;
  padding-top: 2px;
}

.cityImageHeader {
  height: 30px;
  width: 100%;
  background-color: rgb(62, 62, 224);
  color: white;
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
}

.city {
  margin-top: 10px;
}

.city img {
  height: 150px;
  width: 100%;
}

@media (orientation: landscape) {
  .cityFilter {
    margin-left: 32px !important;
  }

  .toHome {
    margin-left: 10px;
  }

  .toCity {
    margin-left: 400px !important;
  }
}

.page {
  height: 100%;
  width: 100%;
}

.openSidebar {
  color: white;
  margin-left: 85%;
  font-size: 30px;
  margin-top: 15px;
}

.cityFilter {
  width: 75%;
  height: 40px;
  margin-left: 19px;
  color: darkgray;
  position: absolute;
  top: 10px;
  padding-left: 10px;
}

.searchbar {
  background-color: rgba(49, 49, 228, 0.911);
  height: 100px;
  width: 100%;
}

.selectors li {
  list-style-type: none; 
  display: inline;

}

.selectors {
  color: white;
  padding-top: 15px;
}

.toCity {
  margin-left: 135px;
}

.toCity2 {
  margin-left: 43%;
}

.selectors2 li {
  list-style-type: none; 
  display: inline;
}

.selectors2 {
  color: white;
  padding-top: 20px;
}

.topbar {
  background-color: rgba(49, 49, 228, 0.911);
  height: 60px;
  width: 100%;
}

.contentItinery h1 {
  margin-top: -85px;
  color: rgba(255, 255, 255, 0.733);
  font-size: 30px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.cityImage {
  height: 140px;
  width: 100%;
}

.itineries {
  margin-top: 60px;
  height: 67vh;
  overflow: scroll;
}

.itinery {
  margin-top: 10px;
  margin-left: 7px;
  width: 96%;
  height: 85px;
  background-color: white;
  border-radius: 2px;
}

.itinery p {
  color: gray;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  width: 200px;
}

.itinery h1 {
  margin-left: 80px;
  font-family: sans-serif;
  color: gray;
  font-size: 17px;
  width: 150px;
  height: 20px;
  margin-top: -20px;
}

.profile {
  height: 30px;
  width: 90px;
}

.profileImage {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

.itinery ul {
  margin-left: 50px;
  margin-top: -10px;
  font-size: 11px;
}

.itinery li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}

.expand {
  float: right;
  margin-right: 10px;
  margin-top: -32px;
  color: rgb(100, 97, 97);
}

.review {
  margin-top: 40px;
  color: rgb(31, 84, 231);
  text-decoration: underline;
  font-style: italic;
}

.open {
  height: 65vh;
}

.no {
  background-color: #282c34;
  color: white;
  text-align: center;
  font-weight: bold;
}

.noIcon {
  margin-top: 200px;
  color: white;
  font-size: 70px;
  margin-left: 39%;
}

.profileImage {
  border-radius: 100px;
}

.activity {
  height: 90px;
  width: 90px;
  margin-top: 50px;
  margin-left: 10px;
  float: left;
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

#inputActivity {
  height: 50px;
  width: 94%;
  margin-left: 10px;
  margin-top: 50px;
  background-color: rgb(236, 230, 230);
  border: none;
}

.accountHeader {
  position: absolute;
  font-family: sans-serif;
  font-size: 25px;
  color: #989292;
  text-align: center;
  margin-left: 25%;
  margin-top: 10px;
}

.uploadImage {
  position: absolute;
  left: 106px;
  top: 110px;
}

.uploadImage i {
  font-size: 80px;
  margin-left: 35%;
}

.add {
  margin-left: 25%;
  margin-top: 10px;
  width: 100px;
}

.logBox {
  margin-left: 40px;
  margin-bottom: 10px;
}

.logBox span {
  width: 166px;
  height: 22px;
  left: 45px;
  font-family: sans-serif;
  font-size: 15px;
  color: #605757;
}

.logBox input {
  width: 285px;
  height: 30px;
  left: 45px;
  background: #C4C4C4;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.boxes {
  margin-top: 170px;
}

input[type=checkbox], input[type=radio] {
  margin-left: 40px;
  color: #282c34;
}

.terms {
  position: absolute;
  width: 120px;
  height: 32px;
  left: 230px;
  top: 548px;
  font-family: sans-serif;
  font-size: 12px;
  color: #1A55AE;
}

.submit {
  position: absolute;
  width: 119px;
  height: 47px;
  left: 128px;
  top: 580px;
  background: #1979D1;
  border-radius: 10px;
}

.submit p {
  position: absolute;
  left: 23px;
  top: 4px;
  font-family: sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}